@import 'fonts';
@import 'settings';

.header {
    background: url('../img/header/bg_header.png') no-repeat;
    background-size: cover;
}

.main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 40px 0;
    &__list, &__list-icon{
        display: flex;        
        list-style: none;
        &__item{
            padding: 0 20px;
        }
        &__item-icon{
            padding: 0 10px;            
        }
        &__link{
            text-transform: uppercase;
            font-size: 14px;
            color:#ffff; 
            &:hover{
                text-transform: uppercase;
                color:#2bd2f2;
            }
        }
    }
}

.header-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    &__text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1,h2,h6 {
            color:#ffff;
            margin: 15px 0;
        }
        &__btn {
            max-width: 180px;
        }
    }    
}

.advanteges {
    &__badges {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 150px 0;
    }
    &__badge {        
        text-align: center;        
        background-color: rgb(255, 255, 255);
        box-shadow: 0.557px 3.961px 20px 0px rgba(152, 152, 152, 0.3);                      
        width: 378px;
        height: 336px;            
    }    
    &__badge-img {
        margin: 65px 0 30px;
    }
    &__badge-text {
        max-width: 335px;
        margin:0 auto;
    }
}